extends layout

block extraHeader
    link(rel='stylesheet', href='stylesheets/home-style.css')

block content

  div(class="jumbotron")
    div
      h1(class="display-4") Welcome to Tasty Treats!
      p(class="lead") If you're in the mood for a tasty treat then come down to see us!
      p(class="lead") We bake all your favourites fresh in store everyday!
      p(class="lead") Want croissants? You'll love ours! Ginger bread men?
      hr(class="my-4")
      p Let us know any questions or feedback and we'll get back to you soon
      p(class="lead")
        a(class="btn btn-primary btn-lg" href="/" role="button") Message us

  .container
    .row
      div(class="home-text col-md-6")
        div
          h3 We do all your tasty treats!
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis sodales venenatis. In posuere nulla sit amet arcu convallis, in sodales est efficitur. Nunc dui turpis, pretium laoreet placerat et, iaculis ac eros. Cras elementum ex in ex tempor convallis in quis justo. Sed ante diam, viverra non ullamcorper id, hendrerit vitae velit. Aenean iaculis nisi lacinia diam lobortis ultrices.

      div(class="img-container col-md-6")
        img(src="/images/bakery-treats.jpg" class="pic img-fluid")

    .row
      div(class="home-text col-md-6")
        div
          h3 Tasty treats for all occasions!
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis sodales venenatis. In posuere nulla sit amet arcu convallis, in sodales est efficitur. Nunc dui turpis, pretium laoreet placerat et, iaculis ac eros. Cras elementum ex in ex tempor convallis in quis justo. Sed ante diam, viverra non ullamcorper id, hendrerit vitae velit. Aenean iaculis nisi lacinia diam lobortis ultrices.

      div(class="img-container col-md-6")
        img(src="/images/kids-cake.jpg" class="pic img-fluid")

    .row
      div(class="home-text col-md-6")
        div
          h3 Come and try our cakes!
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis sodales venenatis. In posuere nulla sit amet arcu convallis, in sodales est efficitur. Nunc dui turpis, pretium laoreet placerat et, iaculis ac eros. Cras elementum ex in ex tempor convallis in quis justo. Sed ante diam, viverra non ullamcorper id, hendrerit vitae velit. Aenean iaculis nisi lacinia diam lobortis ultrices.

      div(class="img-container col-md-6")
        img(src="/images/tasty-cake.webp" class="pic img-fluid")

  .footer
    div
      h3 Come visit us for all your tasty treats!
      h3 You can #[a(href="/" class="btn btn-primary") send us a message] too! We'd love to hear from you!
