extends layout

block extraHeader
  script(src="https://www.google.com/recaptcha/api.js" async defer)

block content

  .container
    h3= title

    .row
      .col-md-6

        p(class="error")= error

        form(id="messageForm" action="/submit" method="post")
          div(class="form-group")
            label(for="name") Your name
            input(type="text" class="form-control" id="name" name="name" placeholder="Your name" required)

          div(class="form-group")
            label(for="email") Email address
            input(type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required)
            small(id="emailHelp" class="form-text text-muted") We'll never share your email with anyone else.

          div(class="form-group")
            label(for="message") Send us a message
            textarea(class="form-control" id="message" name="message" rows="3")

          div(class="form-check")
            input(type="checkbox" class="form-check-input" id="subscribed" name="subscribed")
            label(class="form-check-label" for="subscribed") Subscribe for news and our best offers

          div(class="g-recaptcha" data-sitekey="6Lcp7HQaAAAAAErvHbeKYbrxTQJXdTFV2huzwO2R")

          button(type="submit" class="btn btn-primary") Send message

      .col-md-6
        img(src="/images/bakery-treats.jpg" class="pic img-fluid")
