body {
  font: Helvetica, Arial, sans-serif;
  background: url("../images/bakery.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

@font-face {
    font-family: 'tasty';
    src: url("./Let's Bake Muffins - TTF.ttf");
}

h3 {
  font: 30px "tasty", Helvetica, Arial, sans-serif;
}

a {
  font: 24px "tasty", Helvetica, Arial, sans-serif;
}

label {
  font: 18px "tasty", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  font: Helvetica, Arial, sans-serif;
}

textarea {
  font: Helvetica, Arial, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-radius: 12px;
  margin-top: 12px;
}

.form-group  {
  margin: 12px 0px;
}

.form-check {
  margin: 12px 0px;
}

.message {
  border-radius: 12px;
  background-color: #F7F7F9;
  margin: 12px 0px;
  padding: 12px;
}

.message-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#message-pic {
  border-radius: 12px;
}
